.cart-page {
  .container {
    margin: 2rem auto;

    width: 86%;

    display: flex;

    .cart-item-container {
      flex: 0 0 45%;
      margin: 0 auto;

      display: flex;
      flex-direction: column;
      justify-content: center;

      .select-all-checkbox-container {
        display: flex;
        justify-content: center;

        padding-bottom: 0.25rem;

        border-bottom: solid 1px var(--gray-color);

        font-size: 0.9rem;
      }

      .cart-item-list {
        display: flex;
        flex-direction: column;

        list-style: none;

        .cart-item {
          margin-bottom: 2rem;

          .desc {
            display: flex;
          }
          &__image {
            height: 180px;
            width: 180px;
            object-fit: cover;
            border-radius: 0.25rem;

            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          }
          &__title {
            font-family: "GmarketSansMedium";
            font-size: 0.9rem;
          }
          &__price {
            font-family: "GmarketSansLight";
            font-size: 0.75rem;
          }
          &__amount {
          }
        }
      }
    }
    .cart-willpay-container {
      flex: 0 0 45%;
      margin: 0 auto;

      display: flex;
      flex-direction: column;
      justify-content: center;

      .cart-willpay {
        &-item {
          display: flex;
          flex-direction: column;

          li {
            padding: 5px;
            border: 1px solid black;
          }

          img {
            width: 100px;
            height: 75px;
            object-fit: contain;
          }
        }
        &-total {
          padding: 5px;
        }
      }
    }
  }
}
