.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;

  &.show {
    background-color: rgba(0, 0, 0, 0.2);
    display: block;
  }
  &-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 80px;
    border-radius: 10px;
    padding: 5px;
    position: absolute;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      text-align: center;
      margin-bottom: 5px;
    }
    &-buttons {
      display: flex;
      justify-content: center;
    }
  }
}
