@import "font.scss";
@import "products.scss";
@import "cart.scss";
@import "payment.scss";
@import "admin.scss";

body {
  font-family: MangoDdobak-R;
  margin: 0;
}
ul {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}
div {
  margin: 0;
  padding: 0;
}
button {
  font-family: MangoDdobak-B;
}

a {
  text-decoration-line: none;
}
h2 {
  line-height: normal;
}

#root {
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;
}

.gnb {
  ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}
