.products {
  margin: 0 auto;
  width: 1132px;

  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}

.product-item {
  padding: 10px 10px 10px 0px;
  margin-bottom: 30px;
  a {
    display: block;
    width: 180px;
  }

  &__image {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.4);
  }
  &__title {
    margin-top: 8px;
    text-overflow: ellipsis;
    line-height: 16px;
    overflow: hidden;
    width: 180px;
  }
  &__buttons {
    margin-top: 4px;
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      margin-right: 2px;
      margin-bottom: 4px;
      background-color: #ffffff;
      border-color: #bdbdbd;
      border-radius: 8px;
    }
  }
}
